{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'css/map.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
              <p>Instructions:
              <ul>
                <li>Click on the map to insert a vertex.</li>
                <li>Click on a vertex to remove it.</li>
                <li>Drag a vertex to move it.</li>
                <li>Use search box to change location.</li>
              </ul>
              </p>
        </div>
    </div>

    <div class="row">
      <div class="col-md-9">
          <input id="pac-input" class="controls" type="text" placeholder="Search Box">
          <div id="map" style="display: block; height: 500px;"></div>
      </div>
      <div class="col-md-3">
          <div class="row">
              <form method="post" action="{% url 'suppliers:service_area_create' %}" id="createForm">{% csrf_token %}
                  {{ form|crispy }}
                  <button class="btn btn-default">Save Service Area</button>
                  <span class="error"></span>
              </form>
              <hr>
          </div>
          <div class="row" id="points">
          </div>
      </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script src="{% static 'js/wicket.js' %}"></script>
    <script src="{% static 'js/wicket-gmap3.js' %}"></script>

    <script type="text/javascript">
      var poly, map;
      var markers = [];
      var path = new google.maps.MVCArray;
      var wicketReader = new Wkt.Wkt();
      var lat = {{ latlng.lat|stringformat:"f" }};
      var lng = {{ latlng.lng|stringformat:"f" }};

      function initialize() {
        var uluru = new google.maps.LatLng(lat, lng);

        map = new google.maps.Map(document.getElementById("map"), {
          zoom: 14,
          center: uluru
        });

        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        map.addListener('bounds_changed', function() {
          searchBox.setBounds(map.getBounds());
        });

        searchBox.addListener('places_changed', function() {
          var places = searchBox.getPlaces();

          if (places.length == 0) {
            return;
          }
          var bounds = new google.maps.LatLngBounds();
          places.forEach(function(place) {


            if (place.geometry.viewport) {

              bounds.union(place.geometry.viewport);
            } else {
              bounds.extend(place.geometry.location);
            }
          });
          map.fitBounds(bounds);
        });

        poly = new google.maps.Polygon({
          strokeWeight: 3,
          fillColor: '#5555FF'
        });
        poly.setMap(map);
        poly.setPaths(new google.maps.MVCArray([path]));

        google.maps.event.addListener(map, 'click', addPoint);

        {% if area %}
            var paths = [];
            var data = {
                type: "Feature",
                geometry: {{ area.area.geojson|safe }}
            };
            map.data.addGeoJson(data);
        {% endif %}
      }

      function addPoint(event) {
        path.insertAt(path.length, event.latLng);

        var marker = new google.maps.Marker({
          position: event.latLng,
          map: map,
          draggable: true
        });
        markers.push(marker);
        marker.setTitle("#" + path.length);

        google.maps.event.addListener(marker, 'click', function() {
          marker.setMap(null);
          $('#' + path.length).remove();

          if (markers.length <= 1){
              $('#id_area').val("");
          }

          for (var i = 0, I = markers.length; i < I && markers[i] != marker; ++i);
          markers.splice(i, 1);
          path.removeAt(i);

        });

        google.maps.event.addListener(marker, 'dragend', function() {
          for (var i = 0, I = markers.length; i < I && markers[i] != marker; ++i);
          path.setAt(i, marker.getPosition());
          }
        );

          var span = '<span id="' + path.length + '">Latitude: ' + event.latLng.lat().toFixed(4) + ', Longitude: ' +  event.latLng.lng().toFixed(4)  + '<hr></span>'

        $('#points').append(span);

        $('#id_area').val(wicketReader.fromObject(poly).toString());
      }
      window.onload = initialize;

    </script>
{% endblock %}
