{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'css/map.css' %}" rel="stylesheet">
{% endblock %}

 {% block content %}
    <div class="row">
      <div class="col-md-9">
          <input id="pac-input" class="controls" type="text" placeholder="Search Box">
          <div id="map" style="display: block; height: 500px;"></div>
      </div>
      <div class="col-md-3">
          <span id="result"></span>
      </div>
    </div>
 {% endblock %}


{% block javascript %}
    {{ block.super }}
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script src="{% static 'js/gmaps.min.js' %}"></script>
    <script>
        var map;
        var polygons = []
        var lat = {{ latlng.lat|stringformat:"f" }};
        var lng = {{ latlng.lng|stringformat:"f" }};
        $(document).ready(function() {
            map = new GMaps({
                el: '#map',
                lat: lat,
                lng: lng,
                zoom: 14,
                click: function(e){
                    for(var i = 0; i < polygons.length; i++) {
                        var result = google.maps.geometry.poly.containsLocation(e.latLng, polygons[i]);
                        if (result) {
                            $('#result').html('This point is inside a Service Area');
                            break;
                        }
                        else {
                            $('#result').html('This point is outside of a Service Area');
                        }
                    }
                }

            });
            {% for element in object_list %}
                var coords = {{ element.area.geojson|safe }};
                var polygon =  map.drawPolygon({
                    paths: coords.coordinates,
                    useGeoJSON: true,
                    visible: false,
                    clickable: true,
                    fillOpacity: 0
                  });
                polygons.push(polygon);
            {% endfor %}

            console.log(map);

            var input = document.getElementById('pac-input');
            var searchBox = new google.maps.places.SearchBox(input);
            map.map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

            map.addListener('bounds_changed', function() {
              searchBox.setBounds(map.getBounds());

            searchBox.addListener('places_changed', function() {
              var places = searchBox.getPlaces();

              if (places.length == 0) {
                return;
              }
              var bounds = new google.maps.LatLngBounds();
              places.forEach(function(place) {


                if (place.geometry.viewport) {

                  bounds.union(place.geometry.viewport);
                } else {
                  bounds.extend(place.geometry.location);
                }
              });
              map.fitBounds(bounds);
            });



        });



        })
    </script>


{% endblock %}
